*{
    color: black;
    font-family:'Times New Roman', Times, serif
}

nav{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px rgb(239,239,241) solid;
}

nav a.main{
    margin-left: 20px;
}

nav a.tasks{
    color: rgb(158,156,152);
    margin-left: 20px;

    text-decoration: none;
}

nav a.settings{
    float: right;
    text-decoration: none;

    color: rgb(158,156,152)
}

body{
    width: 80%;
    margin: auto;
    min-width: 400px;
}

header{
    border-left: 4px rgb(158,156,152) solid;
    margin-top: 30px;
    padding-left: 16px;
}

header span.headerText{
    font-size: 24px;

    font-weight: bold;
}

div.TaskTecnology{
    margin-top: 40px;
    background-color: rgb(245,245,245);
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

div.TaskTecnology img{
    vertical-align: text-bottom;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 60px;
}

.item{
    max-width: 300px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img.logo{
    max-width: 200px;
    max-height: 200px;
}

li{
    font-size: 22px;
    padding-bottom: 5px;
}

div.item ul{
    min-width: 300px;
}

a.Footer{
    text-decoration: underline;
    color: dodgerblue;
    float: right;
    background-color: white;

    font-size: 22px;
    margin-top: -15px;
    margin-right: 20px;
}

footer{
    margin-top: 100px;
    border: 2px solid rgb(239,239,241);
}

@media (max-width: 900px){

    .container{
        align-items: center;
        flex-direction: column;
    }

    .item{
        flex-wrap: nowrap;
        padding-bottom: 50px;
    }

    img.logo{
        max-width: 155px;
        max-height: 155px;
    }
}

@media (max-width: 600px){

    .container{
        flex-direction: column;
        align-items: center;
    }

    .item{
        padding-bottom: 20px;
        flex-wrap: wrap;
    }

    img.logo{
        max-width: 200px;
        max-height: 200px;
    }

    li{
        padding-bottom: 1px;
    }
}