*{
    font-family: System-ui, Times, serif;
}

header{
    background-color: rgb(211, 16, 48);  
    display: flex;
    align-items: center;
    min-height: 50px;

    font-size: 22px;
    padding-left: 40px;
}

body{
    max-width: 90%;
    margin: auto;
}

.headerMenu{
    margin-left: 20px;
    color: rgb(227,136,155);
    font-size: 20px;
}

header sub{
    font-style: italic;
}

img.logo{
    max-height: 35px;
    margin-left: 20px;
}

a.logoText{
    margin-left: 10px;
}

.afterHeaderBlock{
    padding: 40px 0px 40px 20px;
    background-color: ghostwhite;
    margin-top: 20px;
}

.afterHeaderBlock .container{
    margin-left: 20px;
}

.afterHeaderBlock div.heading{
    font-size: 50px;
    font-weight: bold;
}

.afterHeaderBlock div.text{
    font-size: 24px;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.afterHeaderBlock button{
    margin-top: 15px;
    height: 45px;
    padding: 0;
    border: 0px;
    background-color: rgb(52,112,255);
    border-radius: 5px;
    width: 210px;
    font-size: 20px; 
    color: white;
}

